html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #262626; 
}
.header {
/*	width: 100%;
	height: 8%;*/
	display: flex;
	justify-content: space-between;
	background-color: #E15D37;
	top: 0px;
	align-items: center;
	flex-wrap: wrap;
	height: 16%;
	width: 100%;
	min-height: 50px;
}
.titre {

	display: flex;
}
#titre {
	color: white;
	font-size: 40px;
	padding : 15px;
}

button {
	border: 2px solid white;
	background-color: #E15D37;
	color: white;
	border-radius: 10px;
	height: 40px;
}
button:hover {
	color: #E15D37;
	background-color: white;
}
.input_connect {
	height: 40px;
	border-radius: 0px;

}
@media screen and (min-width: 768px) {
	.input_connect {
		height: 40px;
	}
		.header {
		height: 8%;
	}
}

#acceuil {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: auto;
}
footer {
	background: #E15D37;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top:00px;
	height:30px;
}
.formulaire {
	width: 50%;
	height: 60%;
	min-width: 155px;
	margin: auto;
	background-color: #484848;
	border: none; 
	text-align: center;
	justify-content: center;
	margin: auto;
	min-height: 340px;
	border-radius: 5px;
}
.img {
	margin-right: 10px;
}
