html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #262626; 
}
.header {
	display: flex;
	justify-content: space-between;
	background-color: #E15D37;
	top: 0px;
	align-items: center;
	flex-wrap: wrap;
	height: 16%;
	width: 100%;
	min-height: 50px;
}
.titre {

	display: flex;
}
#titre {
	color: white;
	font-size: 40px;
	padding : 15px;
}

.button {
	border: 2px solid white;
	background-color: #E15D37;
	color: white;
	border-radius: 10px;
	height: 40px;
}
.button:hover {
	color: #E15D37;
	background-color: white;
}
.input_connect {
	height: 40px;
	border-radius: 0px;

}
@media screen and (min-width: 768px) {
	.input_connect {
		height: 40px;
	}
		.header {
		height: 8%;
	}
}

#acceuil {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: auto;
}
footer {
	background: #E15D37;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top:00px;
	height:30px;
}
.formulaire {
	width: 50%;
	height: 60%;
	min-width: 155px;
	min-height: 400px;
	background-color: #484848;
	text-align: center;
	margin: auto;
	border-radius: 5px;
  	line-height: 100%;
}
.img {
	margin-right: 10px;
}
#account {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
}
#divcenter {
	width: 80%;
	height: 80%;
	background: #464646;

	display: flex;
	flex-direction: column;

}
.button_ins {
	border: 2px solid #E15D37;
	background-color: #262626;
	color: #E15D37;
	border-radius: 2px;
	height: 40px;
	width: 10em;
}
.button_ins:hover {
	background-color: #464646;	
}
.post {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
}
.centerpost {
	width: 640px;
	height: 100%;
	background: #464646;
}
#contener {
	position: relative;
	min-width: 320px;
	flex-wrap: wrap;
	width: 640px;
	display: flex;
	flex-direction: row;
}
.png {
	position: relative;
	min-width: 320px;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	height: 128px;
	flex-wrap: wrap;
	overflow: auto;
	border-top: solid 3px #E15D37;
}
.photo {
	width: 20%;
	height: 100%;
}
#image {
	position: absolute;
}
.parent {
	text-align: center;
	position: absolute;
	cursor: pointer;
}
#command {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: solid 3px #E15D37;
}
#capture {
	cursor: pointer;
}
#img_pris {
	position: absolute;
	width: 100%;
	height: auto;
}
#png_prec {
	position: absolute;
}
#photo_prec {
	border-top: solid 3px #E15D37;
	width: 100%;
	position: relative;
}
#photo_prec:hover {
	filter: blur(5px);
    opacity: .5;
}