html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #262626; 
}
.header {
	display: flex;
	justify-content: space-between;
	background-color: #E15D37;
	top: 0px;
	align-items: center;
	flex-wrap: wrap;
	height: 20%;
	width: 100%;
	min-height: 50px;
}
.titre {

	display: flex;
}
#titre {
	color: white;
	font-size: 40px;
	margin: 0;
	padding: 0;
}

.button {
	border: 2px solid white;
	background-color: #E15D37;
	color: white;
	border-radius: 10px;
	height: 40px;
}
.button:hover {
	color: #E15D37;
	background-color: white;
}
.input_connect {
	height: 40px;
	border-radius: 0px;

}
@media screen and (min-width: 768px) {
	.input_connect {
		height: 40px;
	}
		.header {
		height: 8%;
	}
}

#acceuil {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: auto;
	flex-wrap: wrap;
}
footer {
	background: #E15D37;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top:00px;
	height:30px;
}
.formulaire {
	height: 60%;
	min-width: 155px;
	min-height: 420px;
	background-color: #484848;
	text-align: center;
	margin: auto;
	border-radius: 5px;
  	line-height: 100%;
  	padding: 5px;
}
.img {
	margin-right: 10px;
}
#account {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
}
#divcenter {
	width: 80%;
	height: 80%;
	background: #464646;

	display: flex;
	flex-direction: column;

}
.button_ins {
	border: 2px solid #E15D37;
	background-color: #262626;
	color: #E15D37;
	border-radius: 2px;
	height: 40px;
	width: 10em;
}
.button_ins:hover {
	background-color: #464646;	
}
.post {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
}
.centerpost {
	width: 640px;
	height: auto;
	background: #464646;
}
#contener {
	position: relative;
	flex-wrap: wrap;
	height: 480px;
	width: 640px;
	display: flex;
	flex-direction: row;
}
.png {
	position: relative;
	min-width: 320px;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	height: 128px;
	flex-wrap: wrap;
	overflow: auto;
	border-top: solid 3px #E15D37;
}
.photo {
	width: 20%;
	height: 100%;
}
#image {
	position: absolute;
}
.parent {
	text-align: center;
	position: absolute;
	cursor: pointer;
}
#command {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: solid 3px #E15D37;
}
#capture {
	cursor: pointer;
}
#img_pris {
	position: absolute;
	width: 100%;
	height: auto;
}
#png_prec {
	position: absolute;
}
#photo_prec {
	border-top: solid 3px #E15D37;
	width: 100%;
	position: relative;
}
#photo_prec:hover {
	filter: blur(5px);
    opacity: .5;
}
#defile_png {
	width: 142px;
	border-left: 4px solid #E15D37;
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: #464646;
}
#upload {
	width: 100%;
	height: auto;
	border-top: solid 3px #E15D37;
	text-align: center;
}
#img_up {
	height: 480px;
	width: 640px;
}
#acceuil_2 {
	width: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#wall {
	margin: auto;
	width: 30%;
	height: 70%;
	min-width: 400px;
	max-width: 500px;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: #464646;
}
#logdate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 10%;
	min-height: 55px;
}
.text {
	color: white;	
}
#wall_photo {
	border-top: solid 3px #262626;
	height: 50%;
	display: flex;
}
#likecomment {
	display: flex;
	flex-direction: column;
	height: 20%;
	border-top: solid 3px #262626;	
}
#like {
	width: 100%;
	height: 30%;
	text-align: center;
	display: flex;
}
#likelike {
	width: 50%;
	height: 100%;
}
#buttonlike {
	background-color: #E15D37;
	color: white;
	border: none;
	width: 200px;
	height: 100%;
	font-size: 25px;
}
#buttonlike:hover {
	background-color: white;
	color: #E15D37;
}
#comment{
	height: 60%;
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}
#buttoncomment {
	background-color: #E15D37;
	color: white;
	border: none;
	width: 85px;
	text-align: center;
	height: 25px;
	margin-left: 5px;
	font-size: 15px;
}
#buttoncomment:hover {
	background-color: white;
	color: #E15D37;
}
#imgwall {
	margin: auto;
	height: 85%;
	width: 90%;
}
#inputcomment {
	margin-left: 20px;
	height: 100%;
	width: 90%;
}
#formcomment {
	height: 70%;
	width: 100%;
}
#commentaire {
	height: 20%;
	width: 100%;
	overflow: auto;
	max-height: 135px;
}
#intcomment {
	height: 90%;
	width: 100%;
	overflow: auto;
}
#formulairepass {
	margin: auto;
	height: 70%;
	width: 50%;
	background-color: #464646;
	display: flex;
}
#passform {
	margin: auto;
	text-align: center;
}
#but {
	margin-top: 10px;
}